<app-header title="Proveedores"></app-header>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="add()">
  <ion-fab-button size="small" color="success">
    <ion-icon name="create"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-item>
  <ion-searchbar mode="ios" (ionInput)="filterList($event)"></ion-searchbar>
</ion-item>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-outline" pullingText="Pull to refresh" refreshingSpinner="circles"
                           refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let p of listadoDeBusqueda">
    <ion-item color="dark">
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>ID: {{p.id}}</ion-label>
      <ion-buttons slot="end">

        <ion-button fill="icon-only" (click)="edit(p)">
          <ion-icon name="pencil" color="primary" slot="start"></ion-icon>
        </ion-button>

        <ion-button fill="icon-only" (click)="delete(p)">
          <ion-icon name="trash" color="danger" slot="start"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-card-content>
      <p>Nombre: <b>{{p.nombre}}</b></p>
      <p>RFC: <b>{{p.rfc}}</b></p>
      <p>Moneda: <b>{{p.moneda}}</b></p>
      <p>N. de Contacto: <b>{{p.nombreDeContacto}}</b></p>
      <p>Correo: <b>{{p.correoElectronico}}</b></p>
      <p>Dirección: <b>{{p.direccion}}</b></p>
      <p>Telefono: <b>{{p.telefono}}</b></p>
      <p>Estatus: <b>{{p.estatus}}</b></p>
      <p>Tipo: <b>{{p.tipo}}</b></p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!listadoDeBusqueda">
    <ion-item color="dark">
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <p>
        <ion-skeleton-text animated></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated></ion-skeleton-text>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

