<ion-split-pane contentId="menu">
  <ion-menu contentId="menu" menuId="first">
    <ion-header>

      <ion-item lines="none" color="dark">
        <ion-avatar slot="start">
          <img src="/assets/images/avatars/256x256/{{avatar}}.png" alt="">
        </ion-avatar>
        <ion-label>
          <p>
            <b>{{usuario}}</b>
          </p>
          <p>
            {{role}}
          </p>
        </ion-label>
      </ion-item>
    </ion-header>

    <ion-content>
      <div *ngFor="let p of pages">
        <ion-menu-toggle *ngIf="p.url">

          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item">
            <ion-icon mode="ios" name="{{p.icon}}" slot="start" routerLinkActive="active-item"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.active]="p.open"
                  detail="false">

          <ion-icon mode="ios" name="{{p.icon}}" slot="start"></ion-icon>
          <ion-icon slot="end" name="chevron-down-circle-outline" *ngIf="!p.open"></ion-icon>
          <ion-icon slot="end" name="chevron-up-circle-outline" *ngIf="p.open"></ion-icon>
          <ion-label>{{p.title}}</ion-label>
        </ion-item>

        <ion-list *ngIf="p.open">
          <ion-menu-toggle>
            <ion-item class="sub-item" *ngFor="let sub of p.children" [routerLink]="sub.url" routerDirection="root"
                      routerLinkActive="active-item">
              <ion-icon name="{{sub.icon}}" slot="start" routerLinkActive="active-item"></ion-icon>
              <ion-label>{{sub.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </div>

      <ion-item tappable routerLink="/login" routerDirection="root" (click)="logout()">
        <ion-icon mode="ios" name="log-out" slot="start" color="danger"></ion-icon>
        <ion-label color="danger">Cerrar sesión</ion-label>
      </ion-item>
    </ion-content>
    <ion-footer class="ion-padding ion-text-center">
      <p>Created and Developed by SACCSA</p>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
</ion-split-pane>
