//.active-item {
//  border-left: 8px solid var(--ion-color-danger);
//}
ion-avatar  {
  width:100% !important;
  height : 100% !important;
  max-width: 70px !important;  //any size
  max-height: 800px !important; //any size
}
