<ion-header>
  <ion-toolbar>
    <ion-title title="{{data.title}}"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulario" (ngSubmit)="SalirConDatos()">

    <ion-item>
      <ion-label>ID</ion-label>
      <ion-input mode="ios" formControlName="id"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Razones Sociales</ion-label>
      <ionic-selectable
        [items]="razonSocialCombo"
        itemValueField="id"
        itemTextField="descripcion"
        [canSearch]="true"
        (onChange)="parchar($event)">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input mode="ios" formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>RFC</ion-label>
      <ion-input mode="ios" formControlName="rfc"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Monedas</ion-label>
      <ionic-selectable
        [items]="monedaCombo"
        itemValueField="id"
        itemTextField="descripcion"
        [canSearch]="true"
        (onChange)="parche($event)">
      </ionic-selectable>
    </ion-item>

    <ion-item>
      <ion-label>Nombre De Contacto</ion-label>
      <ion-input mode="ios" formControlName="nombreDeContacto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Correo Electronico</ion-label>
      <ion-input mode="ios" formControlName="correoElectronico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Direccion</ion-label>
      <ion-input mode="ios" formControlName="direccion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Telefono</ion-label>
      <ion-input mode="ios" formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contacto de Cobranza</ion-label>
      <ion-input mode="ios" formControlName="contactoDeCobranza"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Referencia</ion-label>
      <ion-input mode="ios" formControlName="referencia"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" mode="ios" color="danger" fill="outline" (click)="cancel()">
          Cancelar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" mode="ios" [disabled]="formulario.invalid" (click)="save()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
