<header class="modalHeader">
  Detalle de la Operacion
</header>
<br>
<ion-card>
  <ion-card-content>
    <P>Tipo de Operacion: <b>{{data.operacion}}</b></P>
    <P>Folio: <b>{{data.folio}}</b></P>
    <P>Razon Social: <b>{{data.razonSocial}}</b></P>
    <P>Monto: <b>{{data.monto}}</b></P>
    <P>Fecha: <b>{{data.fecha}}</b></P>
    <P>Estatus: <b>{{data.estatus}}</b></P>
    <P>Concepto: <b>{{data.concepto}}</b></P>
    <P>Tipo de Operacion: <b>{{data.tipoDeOperacion}}</b></P>
    <P>Linea de Credito: <b>{{data.lineaDeCredito}}</b></P>
    <P>Monto de la Linea: <b>{{data.montoLinea}}</b></P>
    <P>Saldo Insoluto: <b>{{data.saldoInsoluto}}</b></P>
    <P>Monto Disponible: <b>{{data.montoDisponible}}</b></P>
    <P>Cuenta de cargo: <b>{{data.cuentaCargo}}</b></P>
    <P>Beneficiario: <b>{{data.beneficiario}}</b></P>
    <P>Cuenta de Abono: <b>{{data.cuentaAbono}}</b></P>
    <P>Tipo de Transaccion: <b>{{data.tipoTransaccion}}</b></P>
    <P>Banco del Cliente: <b>{{data.bancoCliente}}</b></P>
    <P>Moneda del Cliente: <b>{{data.monedaCliente}}</b></P>
    <P>Alias: <b>{{data.alias}}</b></P>
    <P>Banco del Proveedor: <b>{{data.bancoProveedor}}</b></P>
    <P>Convenio: <b>{{data.convenio}}</b></P>
    <P>Referencia: <b>{{data.referencia}}</b></P>
    <P>Banco emisor: <b>{{data.bancoEmisor}}</b></P>
    <P>Modena del emisor: <b>{{data.monedaEmisor}}</b></P>
    <P>Alias Emisor: <b>{{data.aliasEmisor}}</b></P>
    <P>Banco Receptor: <b>{{data.bancoReceptor}}</b></P>
    <P>Alais Receptor: <b>{{data.aliasReceptor}}</b></P>
  </ion-card-content>
</ion-card>

<footer>
  <ion-button (click)="exit()">
    Guardar
  </ion-button>
</footer>
