<header class="modalHeader">
  Detalle de la Operacion
</header>
<br>
<ion-card>
  <ion-card-content *ngFor="let c of data">
    <p>Tipo de Operacion: <b>{{c.operacion}}</b></p>
    <p>Folio: <b>{{c.folio}}</b></p>
    <p>Razon Social: <b>{{c.razonSocial}}</b></p>
    <p>Monto: <b>{{c.monto}}</b></p>
    <p>Fecha: <b>{{c.fecha}}</b></p>
    <p>Estatus: <b>{{c.estatus}}</b></p>
    <p>Concepto: <b>{{c.concepto}}</b></p>
    <p>Tipo de Operacion: <b>{{c.tipoDeOperacion}}</b></p>
    <p>Linea de Credito: <b>{{c.lineaDeCredito}}</b></p>
    <p>Monto de la Linea: <b>{{c.montoLinea}}</b></p>
    <p>Saldo Insoluto: <b>{{c.saldoInsoluto}}</b></p>
    <p>Monto Disponible: <b>{{c.montoDisponible}}</b></p>
    <p>Cuenta de cargo: <b>{{c.cuentaCargo}}</b></p>
    <p>Beneficiario: <b>{{c.beneficiario}}</b></p>
    <p>Cuenta de Abono: <b>{{c.cuentaAbono}}</b></p>
    <p>Tipo de Transaccion: <b>{{c.tipoTransaccion}}</b></p>
    <p>Banco del Cliente: <b>{{c.bancoCliente}}</b></p>
    <p>Moneda del Cliente: <b>{{c.monedaCliente}}</b></p>
    <p>Alias: <b>{{c.alias}}</b></p>
    <p>Banco del Proveedor: <b>{{c.bancoProveedor}}</b></p>
    <p>Convenio: <b>{{c.convenio}}</b></p>
    <p>Referencia: <b>{{c.referencia}}</b></p>
    <p>Banco emisor: <b>{{c.bancoEmisor}}</b></p>
    <p>Modena del emisor: <b>{{c.monedaEmisor}}</b></p>
    <p>Alias Emisor: <b>{{c.aliasEmisor}}</b></p>
    <p>Banco Receptor: <b>{{c.bancoReceptor}}</b></p>
    <p>Alais Receptor: <b>{{c.aliasReceptor}}</b></p>
  </ion-card-content>
</ion-card>

<footer>
  <ion-button (click)="exit()">
    Guardar
  </ion-button>
</footer>
