<app-header title="Dashboard"></app-header>

<ion-item>
  <ion-label>Start Date</ion-label>
  <ion-datetime mode="ios" value="1990-02-19" placeholder="Select Date"></ion-datetime>
</ion-item>



  <ion-item lines="none">
    <ion-searchbar mode="ios" (ionInput)="filterList($event)"></ion-searchbar>
  </ion-item>
<ion-content>

  <div *ngFor="let p of foodList">


    <ion-item button (click)="p.open = !p.open" [class.active]="p.open" detail="false">

<!--      <ion-icon mode="ios" name="{{p.icon}}" slot="start"></ion-icon>-->
      <ion-icon slot="end" name="chevron-down-circle-outline" *ngIf="!p.open"></ion-icon>
      <ion-icon slot="end" name="chevron-up-circle-outline" *ngIf="p.open"></ion-icon>
      <ion-label>{{p.name}}</ion-label>
    </ion-item>
    <ion-list *ngIf="p.open">
      <ion-item class="sub-item">
<!--          <ion-icon name="{{sub.icon}}" slot="start" routerLinkActive="active-item"></ion-icon>-->
<!--          <ion-label>{{p.name}}</ion-label>-->
        <ion-card>
          <ion-item>
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-label>{{p.name}}</ion-label>
            <ion-buttons slot="end">
              <ion-button fill="icon-only">
                <ion-icon name="pencil" color="primary" slot="start"></ion-icon>
              </ion-button>
              <ion-button fill="icon-only">
                <ion-icon name="trash" color="danger" slot="start"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>

          <ion-card-content>
            <p>Nombre: <b>{{p.name}}</b></p>
            <p>Direccion: <b>{{p.name}}</b></p>
            <p>Tel: <b>{{p.name}}</b></p>
          </ion-card-content>
        </ion-card>
        </ion-item>
    </ion-list>
  </div>

</ion-content>
