<app-header title="Dashboard"></app-header>

<ion-item>
  <ion-label>Start Date</ion-label>
  <ion-datetime mode="ios" value="1990-02-19" placeholder="Select Date"></ion-datetime>
</ion-item>

<ion-item>
  <ion-label>Music</ion-label>
  <ion-select value="03">
    <ion-select-option value="01">Alice in Chains</ion-select-option>
    <ion-select-option value="02">Green Day</ion-select-option>
    <ion-select-option value="03">Nirvana</ion-select-option>
    <ion-select-option value="04">Pearl Jam</ion-select-option>
    <ion-select-option value="05">Smashing Pumpkins</ion-select-option>
    <ion-select-option value="06">Soundgarden</ion-select-option>
    <ion-select-option value="07">Stone Temple Pilots</ion-select-option>
  </ion-select>
</ion-item>

  <ion-item lines="none">
    <ion-searchbar mode="ios" (ionInput)="filterList($event)"></ion-searchbar>
  </ion-item>
<ion-content>
  <ion-list lines="full">
      <ion-toolbar *ngFor="let foodItem of foodList">
        <ion-title>{{foodItem.name}}</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="outline" shape="round">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-list>
  <ion-card>
    <ion-item>
      <ion-icon name="business-outline" slot="start"></ion-icon>
      <ion-label>ID: <b>35</b></ion-label>
      <ion-buttons slot="end">
      <ion-button fill="icon-only">
        <ion-icon name="pencil" color="primary" slot="start"></ion-icon>
      </ion-button>
      <ion-button fill="icon-only">
        <ion-icon name="trash" color="danger" slot="start"></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-card-content>
      <p>Nombre: <b>Philadelpia</b></p>
      <p>Direccion: <b>Texas</b></p>
      <p>Tel: <b>55533669988</b></p>
    </ion-card-content>
  </ion-card>

</ion-content>
