<ion-header>
  <ion-toolbar mode="ios" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="cards">
      <ion-button fill="clear" (click)="regresar()">
        <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Historico de Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" *ngIf="!cards">
    <form [formGroup]="formulario">
      <ion-item>
        <ion-label position="floating"><b>Fecha Inicial</b></ion-label>
        <ion-datetime mode="ios" placeholder="Selecionar fecha" cancel-text="Cancelar" formControlName="fecha"
                      done-text="Confirmar"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><b>Fecha Final</b></ion-label>
        <ion-datetime mode="ios" placeholder="Selecionar fecha" cancel-text="Cancelar" formControlName="fecha"
                      done-text="Confirmar"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><b>Operación</b></ion-label>
        <ion-select placeholder="Selecionar Tipo de Operación" formControlName="tipo">
          <ion-select-option value="PagoProveedores">Pago a Proveedores</ion-select-option>
          <ion-select-option value="Intercompanias">Cheques</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><b>Razon Social</b></ion-label>
        <ion-select placeholder="Selecionar Tipo de Operación" formControlName="tipo">
        </ion-select>
      </ion-item>

      <ion-button expand="full" mode="ios" [disabled]="formulario.invalid" (click)="cargarOperaciones()" shape="round" class="ion-margin" color="dark">Buscar Operaciones
        <ion-icon name="search" slot="end"></ion-icon>
      </ion-button>
    </form>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header color="dark" class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center"><b>Folio</b></ion-col>
        <ion-col class="ion-text-center"><b>ID Proveedor</b></ion-col>
        <ion-col class="ion-text-center"><b>Nombre del Proveedor</b></ion-col>
        <ion-col class="ion-text-center"><b>Razon Social</b></ion-col>
        <ion-col class="ion-text-center"><b>Tipo de Operacion</b></ion-col>
        <ion-col class="ion-text-center"><b>Moneda</b></ion-col>
        <ion-col class="ion-text-center"><b>Monto</b></ion-col>
        <ion-col class="ion-text-center"><b>Fecha</b></ion-col>
        <ion-col class="ion-text-center"><b>Estatus</b></ion-col>
      </ion-row>
    </ion-card-header>
    <ion-row *ngFor="let f of listadoBusqueda">
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.folio}}</b></ion-col>
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.nombreProveedor}}</b></ion-col>
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.nombreProveedor}}</b></ion-col>
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.razonSocial}}</b></ion-col>
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.tipoOperacion}}</b></ion-col>
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.moneda}}</b></ion-col>
      <ion-col class="ion-text-right ion-padding-vertical"><b>{{f.monto | currency: 'USD'}}</b></ion-col>
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.fecha}}</b></ion-col>
      <ion-col class="ion-text-center ion-padding-vertical"><b>{{f.estatus}}</b></ion-col>
      <ion-col class="ion-text-center">
        <ion-button fill="clear" size="small">
          <ion-icon name="navigate-outline"  color="primary" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
