<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="revisar-pagos">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>Revisar Pagos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="liberar-pagos">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Liberar Pagos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="estatus-de-pagos">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Estatus de Pagos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
